# nao realizar o upload para o github das seguintes pastas 
data/interim/
data/processed/
pibic2020-env/
**/.ipynb_checkpoints/
*__pycache__*
.vscode/

# ignorar esses arquivos
*.pyc
*~
*.out
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.dvi
*.blg
*.bbl
*.aux
*.run.xml
